.about {
  padding: 120px 0;
}

.about-row {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}

.about-row:last-child {
  margin-bottom: 0px;
}

.row-item {
  display: block;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}

.row-item:last-child {
  margin-right: 0px;
}

.row-item_pic {
  display: block;
  margin-bottom: 34px;
}

.row-item_title {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 25px;
}
